/MicroController/build/core/esp32-hal-ledc.c.o
*.c.d
*.cpp.o
*.cpp.d
*.c.o
*.ino.elf
*.json
*.h
/MicroController/build/file_opts
*.cache
/MicroController/build/MicroController.ino.bootloader.bin
/MicroController/build/MicroController.ino.map
/MicroController/build/MicroController.ino.merged.bin
/MicroController/build/MicroController.ino.partitions.bin
/MicroController/build/sketch/MicroController.ino.cpp
*.csv
/MicroController/build/.last-used
*.a
*.cpp
*.ino.bin
/Backend/.idea/Backend.iml
/Backend/.idea/encodings.xml
/Backend/.idea/misc.xml
/Backend/.idea/modules.xml
/Backend/.idea/vcs.xml
/Backend/.idea/inspectionProfiles/profiles_settings.xml
